.navbar_container {
  width: 100%;
  padding: 0.8rem 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 128rem;
}
.separator {
  flex-basis: 1;
  flex: 1 1 0;
}

.navlinks {
  display: inline-flex;
  gap: 2rem;
}
